# --- IDE / Editor ---
.idea/
.vscode/

# --- ArchISO ---
# Build artifacts
output/

# Authorized SSH keys
airootfs/root/.ssh/authorized_keys

# --- Ansible ---
# Ansible runtime cache
.ansible/

# Ansible inventories
airootfs/opt/ansible/inventories/*
!airootfs/opt/ansible/inventories/local/
!airootfs/opt/ansible/inventories/local/**
